#sideleft{
    background: #4B5267;
    width: 200px;
    /*Adjust height accordingly to font size on table*/
    height: 300%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: left 0.3s linear;
}

#sideleft.visible{
    left: 0px;
    transition: left 0.3s linear;
}
#sidebar-btn{
    display:inline-block;
    vertical-align: middle;
    width:20px;
    height:15px;
    cursor:pointer;
    margin:20px;
    position:absolute;
    top:0px;
    right:-60px;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Oxygen', Sans-Serif;
 font-size: 46px;;
}

#sidebar-btn span{
    height:1px;
    background:#111;
    margin-bottom:5px;
    display:block;
}

#sidebar-btn span:nth-child(2){
    width:75%;
}

#sidebar-btn span:nth-child(3){
    width:50%;
}

h3{
font-size: 250%;
text-align: left;
color: #4B5267;
margin:0px;
margin-left: 20px;
position: relative;
top: 50%;
-webkit-transform: auto;
-ms-transform: auto;
transform: auto;
}



.btn-group button {
    background-color: #4B5267; /* Green background */
    border: none; /* Green border */
    color: #EFDEE3; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    Font-Family: 'Noto Serif', Serif;
    Font-Size: 16px;
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group .active, .btn:hover {
    background-color: #EFDEE3;
    color: #4B5267;
}

body{
    background-color:#EFDEE3;
    Font-Family: 'Noto Serif', Serif;
    height:100%;

}

#abouttxtP1{
    margin-left: 20px;

}

#header{
    margin-left: 200px
}

#abouttxt{
  margin-left: 200px;
  font-family: 'Noto Serif', Serif;
  font-size: 16px;
  text-align:left;
}

#table{
  Font-Size: 14px;

  margin-left: 200px;
  margin-top:40px;
}

#main{
    margin-left:200px;
    height:100%;
}
#industry_table{
    margin-left:20px;
}

#identity_table{
    margin-left:20px;
}

#identity_table_div{
    margin-left:200px;
}

#industry_table_div{
    margin-left:200px;
}

#specific_id_table_div{
    margin-left:200px;
}

#specific_id_table{
    margin-left:20px;
}

#race_distribution_div{
    margin-left:200px;
}

#race_distribution_table{
    margin-left:20px;
}

#industry_numbers{
    margin-left:500px;
    margin-top:-450px;
}

table{
    overflow-y:scroll;
    height:500px;
    display:block;
}
tr:nth-child(even) {background-color: #f2f2f2;}