<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="utf-8">
        <title> Identity </title>
        <link rel="stylesheet" type ="text/css" href = "style.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Oxygen:300" rel="stylesheet">
        <style>
        table {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

          border-collapse: collapse;
          width: 60%;
        }

        td, th {
          border: 3px solid #ddd;
          text-align: left;
          padding: 8px;
        }

        th {
          padding-top: 12px;
          padding-bottom: 12px;
          background-color: #4B5267;
          color: white;
        }

        tr:hover {background-color: #E1E9E9;}
        tr:nth-child(3n+2){background-color: #D9DEDE;}
        tr:nth-child(3n+2):hover {background-color: #B9DEDE}

    </style>
    </head>
    <body>
    <div id = "header">
        <h3>*Insert identity code and description*</h3>
    </div>

    <div id ="sideleft">
        <div class="btn-group">
            <a href="google.com"><button id="about"> ABOUT </button></a>
            <a href=""><button id="byIndustry">BY INDUSTRY </button></a>
            <a href=""><button id="byRace">BY RACIAL AND GENDER IDENTITY</button></a>
        </div>
        <!--<div id = "sidebar-btn">-->
            <!--<span></span>-->
            <!--<span></span>-->
            <!--<span></span>-->
        <!--</div>-->
    </div>

    <div id ="table", style="text-align:center">
    <table align = "center">
    <tr>
      <th>Industry Code</th>
      <th>Industry Description</th>
      <th>Numbers</th>
    </tr>
    <tr>
      <td>11</td>
      <td>Agriculture, Forestry, Fishing and Hunting</td>
      <td>**</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Mining, Quarrying and Oil and Gas Extraction</td>
      <td>**</td>
    </tr>
    <tr>
      <td>22</td>
      <td>Utilities</td>
      <td>**</td>
    </tr>
    <tr>
      <td>23</td>
      <td>Construction</td>
      <td>**</td>
    </tr>
    <tr>
      <td>31</td>
      <td>Manufacturing</td>
      <td>**</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Manufacturing</td>
      <td>**</td>
    </tr>
    <tr>
      <td>33</td>
      <td>Manufacturing</td>
      <td>**</td>
    </tr>
    <tr>
      <td>42</td>
      <td>Wholesale Trade</td>
      <td>**</td>
    </tr>
    <tr>
      <td>44</td>
      <td>Retail Trade</td>
      <td>**</td>
    </tr>
    <tr>
      <td>45</td>
      <td>Retail Trade</td>
      <td>**</td>
    </tr>
    <tr>
      <td>48</td>
      <td>Transport and Warehousing</td>
      <td>**</td>
    </tr>
    <tr>
      <td>49</td>
      <td>Transport and Warehousing</td>
      <td>**</td>
    </tr>
    <tr>
      <td>51</td>
      <td>Information</td>
      <td>**</td>
    </tr>
    <tr>
      <td>52</td>
      <td>Finance and Insurance</td>
      <td>**</td>
    </tr>
    <tr>
      <td>53</td>
      <td>Real Estate and Rental and Leasing</td>
      <td>**</td>
    </tr>
    <tr>
      <td>54</td>
      <td>Professional, Scientific, and Technical Services</td>
      <td>**</td>
    </tr>
    <tr>
      <td>55</td>
      <td>Management of Companies and Enterprises</td>
      <td>**</td>
    </tr>
    <tr>
      <td>56</td>
      <td>Administrative and Support and Waste Management and Remediation Services</td>
      <td>**</td>
    </tr>
    <tr>
      <td>61</td>
      <td>Educational Services</td>
      <td>**</td>
    </tr>
    <tr>
      <td>62</td>
      <td>Health Care and Social Assistance</td>
      <td>**</td>
    </tr>
    <tr>
      <td>71</td>
      <td>Arts, Entertainment, and Recreation</td>
      <td>**</td>
    </tr>
    <tr>
      <td>72</td>
      <td>Accommodation and Food Services</td>
      <td>**</td>
    </tr>
    <tr>
      <td>52</td>
      <td>Other Services (except Public Administration)</td>
      <td>**</td>
    </tr>
    <tr>
      <td>52</td>
      <td>Public Administration</td>
      <td>**</td>
    </tr>


  </table>

  </div>



    </body>
</html>
