<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="utf-8">
        <title> data project </title>
        <link rel="stylesheet" type ="text/css" href = "../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Oxygen:300" rel="stylesheet">

        <script>var api_port = {{ api_port }};</script>

       <style>
        table {
        border-collapse: collapse;
        width: 100%;
        }

        th, td {
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {background-color: #f2f2f2;}
        tr:hover {background-color: #fff4d8;}
        </style>



    </head>
    <body>
    <div id = "header">
        <h3>NACP-2 WOMEN AND MINORITIES IN THE WORKFORCE</h3>
    </div>

    <div id ="sideleft">
        <div class="btn-group">
            <button class = "btn active" id="about"> ABOUT </button>
            <button class = "btn" id="byIndustry">BY INDUSTRY </button>
            <button class = "btn" id="byRace">BY RACIAL AND GENDER IDENTITY</button>
        </div>
        <!--<div id = "sidebar-btn">-->
            <!--<span></span>-->
            <!--<span></span>-->
            <!--<span></span>-->
        <!--</div>-->
    </div>

  <div id = "abouttxt">
    <p id = "abouttxtP1">This project allows you to sift through employment statistics collected from the US Bureau of Labor.
         We seek to make apparent dissimilarities in employment based on gender and race identity in the US,
         across a variety of government recognized industrial sectors. <br><br><br>
    Click on either industries or identities to begin. </p>
  </div>

    <div id="identity_table_div">
        <table id="identity_table"></table>
    </div>

    <div id="industry_table_div">
        <table id ="industry_table"> </table>
    </div>

    <div id="specific_id_table_div">
        <table id="specific_id_table">

        </table>
    </div>





  </div>



    </body>
    <script type="text/javascript" src="{{url_for('static',filename='dostuff.js')}}"></script>
</html>
